@import "./variables.scss";

.editable-text {
    min-width: 100%;
    position: relative;

    .editable-text-content {
        min-width: 100%;

        padding: 5px 25px 5px 10px;
        text-overflow:ellipsis;
        outline: none;
        border: 1px solid transparent;
        background-color: transparent;    
    }

    &.editable-text-focused {
        .editable-text-content {
            border-color: rgba(0, 0, 0, 0.5);
        }
        .editable-text-cancel-button {
            display: block;
        }
    }

    .editable-text-cancel-button {
        position: absolute;
        display: none;
        top: 6px;
        right: 5px;
    }

    @each $name, $color in $standard-colors {
        &.editable-text-#{$name} input {
            color: darken($color, 20);
        }
    }
}